[bumpversion]
current_version = 1.2.0
commit = true
tag = true

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:src/mmv_h4tracks/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
